h1,
h2 {
  font-family: RecoletaBlack;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
  line-height: 35px;
}

@media screen and (max-width: 600px) {
  h1{
    font-size: 2rem;
  }
  h2 {
    font-size:1.5rem;
  }
  p {
    line-height: normal;
    font-size: 1rem;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  color: rgb(232, 232, 232);
  background: linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.897),
    rgba(0, 0, 0, 0.897)
  );
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  color: rgb(232, 232, 232);
  background-color: #000000;
  padding: 20px 0;
}

.content-container {
  position: relative;
  margin: auto;
  max-width: 1200px;
  z-index: 1;
}

header .content-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 20px;
}

@media screen and (max-width: 745px) {
  header .content-container {
    justify-content: center;
  }
}

.logo {
  display: flex;
}

.logo h1 {
  background: linear-gradient(
    20deg,
    rgb(143, 255, 229) 0%,
    rgba(89, 89, 255, 0.91) 50%,
    rgba(255, 147, 129, 0.93) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

.cover {
  position: relative;
  padding: 80px 20px;
  color: white;
  text-align: left;
  background: linear-gradient(206deg, #101029, #30307d, #663e86, #ffa755);
  background-size: 600% 600%;

  -webkit-animation: SpaceTravel 30s ease infinite;
  animation: SpaceTravel 30s ease infinite;
}

@-webkit-keyframes SpaceTravel {
  0% {
    background-position: 84% 0%;
  }
  50% {
    background-position: 17% 100%;
  }
  100% {
    background-position: 84% 0%;
  }
}
@keyframes SpaceTravel {
  0% {
    background-position: 84% 0%;
  }
  50% {
    background-position: 17% 100%;
  }
  100% {
    background-position: 84% 0%;
  }
}

@media screen and (max-width: 600px) {
  .content-container {
    padding: 5px;
  }
  .cover {
    padding: 40px 20px
  }
}

.cover h1 {
  max-width: 450px;
}

.cover .content-container {
  display: flex;
  max-width: 1000px;
}

.cover .animation {
  width: 800px;
}

@media screen and (max-width: 1200px) {
  .cover .animation {
    display: none;
  }
}

button:hover {
  cursor: pointer;
}

.transparent-button {
  display: block;
  margin: 20px 0;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  border-color: white;
  border-style: solid;
  border-width: 3px;
  border-radius: 2px;
  font-weight: bold;
  background-color: transparent;
}

.cover .btn {
  width: 100px;
}

@media screen and (max-width: 745px) {
  .cover .btn {
    margin: auto;
  }
  .cover h1{
    text-align: center;
    max-width: none;
  }
}

#contact .btn {
  margin: auto;
  width: 200px;
}

#services .animation {
  flex-shrink: 0;
  margin: 20px;
  width: 300px;
}

.card-border {
  display: flex;
  margin: 20px 10px;
  background: linear-gradient(
    20deg,
    rgb(143, 255, 229) 0%,
    rgba(89, 89, 255, 0.91) 50%,
    rgba(255, 147, 129, 0.93) 100%
  );
  border-radius: 5px;
}

#portfolio .card-border {
  text-align: center;
  display: block;
  padding: 1px 0;
}

#contact .card-border {
  background: linear-gradient(206deg, #101029, #30307d, #663e86, #ffa755);
  background-size: 600% 600%;

  -webkit-animation: SpaceTravel 30s ease infinite;
  animation: SpaceTravel 30s ease infinite;
  text-align: center;
  display: block;
  padding-top: 100px;
  padding-bottom: 150px;
}

.card {
  background-color: #000000;
  padding: 20px 50px;
  margin: 4px;
}

.card h2 {
  margin: 10px 0;
}

.card hr {
  background: linear-gradient(
    20deg,
    rgb(143, 255, 229) 0%,
    rgba(89, 89, 255, 0.91) 50%,
    rgba(255, 147, 129, 0.93) 100%
  );
  height: 2px;
  border-radius: 5px;
}

@media screen and (max-width: 900px) {
  .card-border .animation {
    display: none;
  }
}

.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
}

#portfolio h1 {
  text-align: center;
}

#portfolio a {
  max-width: 100%;
  text-decoration: none;
}

#portfolio .card {
  padding: 20px;
}

.portfolio-card {
  text-align: left;
  max-width: 400px;
  background: linear-gradient(
    20deg,
    rgba(89, 89, 255, 0.91) 50%,
    rgba(255, 147, 129, 0.93) 100%
  );
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}

.portfolio-img-container {
  height: 300px;
  background-color: #000000;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.portfolio-img {
  width: 400px;
}

.portfolio-card p {
  margin: 20px 30px;
  text-decoration: none;
  color: white;
}

.portfolio-card:hover {
  top: -10px;
}

input {
  width: 100%;
  display: block;
  margin: 10px auto;
  max-width: 400px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
}

textarea {
  width: 100%;
  max-width: 400px;
  height: 150px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  resize: none;
}

footer {
  background-color: #141414dd;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}
